@charset "UTF-8";

html,
body {
  height: 100%;
}
body {
  background-color: #d9d9d9;
}

body,
a {
  color: #666;
}

ul,
ol {
  list-style: none;
}

span {
  word-break: break-all;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 50px auto;
  text-align: center;
}

.flex_wrap {
  display: flex;
  justify-content: space-around;
}

.box {
  flex-basis: 300px; /*화면 늘어났을 때 300만큼 너비차지*/
  flex-grow: 0;
}

.box .inner {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.more_content > span {
  display: none;
}

.more_content a {
  display: block;
  margin-top: 10px;
}

.more_content a span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border: 2px solid pink;
  border-radius: 10px;
  padding: 0 10px;
  color: pink;
}
